*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: rgb(206, 236, 176);
    height: 10vh;
    width: 100vw;;
}

.blason{

}

.navbar{

}

body{
    font-family: Arial;
    background-color: antiquewhite;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width:100%;
}


footer{
    background-color: rgba(143, 143, 143, 0.753);
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
}